body {
  color: azure;
  font-family: "McLaren", cursive;
}
img {
  position: absolute;
  width: 100%;
  z-index: -1;
}

ul {
  list-style-type: none;
  padding-top: 15px;
}

p {
  text-align: center;
}
h1,
h3,
h2,
h4,
h5 {
  text-align: center;
  color: azure;
}
h1 {
  font-size: 45px;
}
h3 {
  padding-top: 15px;
}
li:first-letter {
  text-transform: capitalize;
}

.page,
footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 70px;
}
.github-link {
  text-decoration: none;
}
.github-link:hover {
  text-decoration: underline;
}
.temperature {
  font-size: 64px;
}
.units {
  font-size: 18px;
  position: relative;
  top: -34px;
}
.dailytemp {
  font-size: 45px;
}
.top-card {
  margin: 15px;
}
.top-cloud {
  text-align: center;
  font-size: 60px;
  display: block;
  margin: 0 auto;
  color: azure;
}
.daily {
  color: azure;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
}

.card {
  background: transparent;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.card-forcast {
  padding: 0;
}
.cube {
  position: relative;
  display: flex;
  flex-direction: column;
}
.bottom-cloud {
  text-align: center;
  font-size: 30px;
  display: block;
  margin: 0 auto;
  color: azure;
}
.cardno {
  background-color: black;
  opacity: 0.3;
}
.motivation {
  font-size: 18px;
  color: azure;
  font-weight: 600;
}
